html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: var(--fs-sm);
  color: var(--neutralGrayishBlue);
  line-height: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// buttons
button,
.button {
  cursor: pointer;
  padding: 1rem 1.875rem;
  border: 0;
  border-radius: 50px;
  color: var(--neutralWhite);
  background: linear-gradient(
    to right,
    var(--primaryLimeGreen),
    var(--primaryBrightCyan)
  );
  font-weight: 400;
}

.hide-for-mobile {
  @include --breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include --breakpoint-up(large){
    display: none;
  }
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  // color: hsl(228, 45%, 44%);
}
