.header {
  nav {
    padding: 24px;
  }
  &__logo {
    img {
    }
  }

  &__menu {
  }

  &__links {
    a {
      font-size: var(--fs-sm);
    }
  }

  &__cta {
    font-size: var(--fs-sm);
    color: var(--neutralWhite);
  }
}
